extends _layout

block content
  h1= t('home:header.title')
  p.lead= t('home:header.lead')
  .row
    .col-sm-4
      h2= t('home:overview.title')
      .well.text-justify
        | !{t('home:overview.text',{postProcess:'multi-line-jade'})}
      p
        a.btn.btn-primary(href='/game/add')
          span.glyphicon.glyphicon-plus
          span!= t('home:game.add.text')
        | &nbsp;
        a.btn.btn-default(href='/game')
          span.glyphicon.glyphicon-stats
          span!= t('home:game.view.text')
    .col-sm-4.text-center
      img(src='/images/cards.jpg')
    .col-sm-4.text-right
      h2= t('home:rules.title')
      .well.text-justify
        | !{t('home:rules.text',{postProcess:'multi-line-jade'})}
      p
        a.btn.btn-success(href='/game/rules')
          span.glyphicon.glyphicon-book
          span!= t('home:game.rules.text')
