extends ../_layout

block content
  .page-header
    if isAdd
      h3= t('game:add.header.title')
    else
      h3= t('game:view.header.title')
        | &nbsp;
        small #{name}

  form.form-horizontal(role='form', method='POST', action='/game/save')
    //- Form element's default button is the first - not display:none - submit button;
    button(name='submitted', type='submit', value='submitted', style='position: fixed; left: -1000px; top: -1000px')

    .form-group
      label.col-sm-2.control-label(for='name')= t('game:edit.name.label')
      .col-sm-8
        input.form-control.placeholder(id='name', name='name', type='text', value=name)

    each player, index in players
      if players.length==1
        .form-group
          label.col-sm-2.control-label(for='players')= t('game:edit.players.label')
          .col-sm-7
            input.form-control(id='players', name='players[]', type='text', value=players[index])
          .col-sm-1
            button.btn.btn-primary.btn-block(name='addPlayer', type='submit', value='addPlayer', title=t('game:edit.addPlayer.title'))
              span.glyphicon.glyphicon-plus
              span.visible-xs-inline= t('game:edit.addPlayer.text')
      else if index==0
        .form-group
          label.col-sm-2.control-label(for='players')= t('game:edit.players.label')
          .col-sm-8
            input.form-control(id='players', name='players[]', type='text', value=players[index])
      else if index==players.length-1
        .form-group
          .col-sm-offset-2.col-sm-7
            input.form-control(name='players[]', type='text', value=players[index])
          .col-sm-1
            button.btn.btn-primary.btn-block(name='addPlayer', type='submit', value='addPlayer', title=t('game:edit.addPlayer.title'))
              span.glyphicon.glyphicon-plus
              span.visible-xs-inline= t('game:edit.addPlayer.text')
      else
        .form-group
          .col-sm-offset-2.col-sm-8
            input.form-control(name='players[]', type='text', value=players[index])

    .form-group
      .col-sm-offset-2.col-sm-8
        if isAdd
          button.btn.btn-primary(name='submitted', type='submit', value='submitted', title=t('game:add.start.title'))
            span.glyphicon.glyphicon-chevron-right
            span= t('game:add.start.text')
        else
          button.btn.btn-primary(name='submitted', type='submit', value='submitted', title=t('game:edit.update.title'))
            span.glyphicon.glyphicon-floppy-disk
            span= t('game:edit.update.text')

  if isAdd
    script.
      $(function(){
          $(".placeholder").each(function(){
              var that = $(this);
              that.data("placeholder", that.val());
          }).focus(function(){
              var that = $(this);
              if(that.val() === that.data("placeholder")){
                  that.val('');
              }
          }).blur(function(){
              var that = $(this);
              if(that.val() === ""){
                  that.val(that.data("placeholder"));
              }
          }).triggerHandler("blur");
      });
