extends ../_layout

block content
  .page-header
    if isAdd
      h1= t('game:add.header.title')
    else
      h1= t('game:edit.header.title')
        | &nbsp;
        small #{name}

  form.form-horizontal(role='form', method='POST', action='/game/save')
    //- The default submit button of a form is the first - not display:none; - submit button;
    button.out-of-screen(name='submitted',
                         type='submit',
                         value='submitted')= t('game:edit.update.text')

    if !isAdd
      input(name='previousName' type='hidden', value=previousName)

    .form-group
      label.col-sm-2.control-label(for='name')= t('game:edit.name.label')
      .col-sm-8
        input.form-control#name(name='name',
                                type='text',
                                value=name,
                                autofocus=isPlayerAction===0)

    .form-group
      label.col-sm-2.control-label(for='type')= t('game:edit.type.label')
      .col-sm-8
        .btn-group(data-toggle="buttons")
          each gameTypeValue, gameTypeKey in gameTypes
            label.btn.btn-default(class=type===gameTypeKey?'active':'', for='type-#{gameTypeKey}')
              input(id='type-#{gameTypeKey}',
                    type='radio',
                    name='type',
                    value=gameTypeKey,
                    checked=type===gameTypeKey)
              | #{gameTypeValue}

    each player, index in players
      if players.length==1
        .form-group
          label.col-sm-2.control-label(for='player-0')= t('game:edit.players.label')
          .col-sm-8
            .input-group
              input.form-control(name='players['+index+'][name]',         type='text',   value=player.name, id='player-#{index}', title=t('game:edit.players.title'))
              input.form-control(name='players['+index+'][previousName]', type='hidden', value=player.previousName)
              input.form-control(name='players['+index+'][index]',        type='hidden', value=player.index)
              span.input-group-btn
                button.btn.btn-primary.btn-inline-block(name='addPlayer',
                                                        type='submit',
                                                        value=index,
                                                        title=t('game:edit.addPlayer.title'))
                  span.glyphicon.glyphicon-plus
                  span.visible-xs-inline= t('game:edit.addPlayer.text')
                button.btn.btn-info.btn-inline-block(name='upPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=true,
                                                     title=t('game:edit.upPlayer.title'))
                  span.glyphicon.glyphicon-arrow-up
                  span.visible-xs-inline= t('game:edit.upPlayer.text')
                button.btn.btn-info.btn-inline-block(name='downPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=true,
                                                     title=t('game:edit.downPlayer.title'))
                  span.glyphicon.glyphicon-arrow-down
                  span.visible-xs-inline= t('game:edit.downPlayer.text')
      else if index==0
        .form-group
          label.col-sm-2.control-label(for='player-0')= t('game:edit.players.label')
          .col-sm-8
            .input-group
              input.form-control(name='players['+index+'][name]',         type='text',   value=player.name, id='player-#{index}', title=t('game:edit.players.title'))
              input.form-control(name='players['+index+'][previousName]', type='hidden', value=player.previousName)
              input.form-control(name='players['+index+'][index]',        type='hidden', value=player.index)
              span.input-group-btn
                button.btn.btn-danger.btn-inline-block(name='removePlayer',
                                                       type='submit',
                                                       value=index,
                                                       title=t('game:edit.removePlayer.title'))
                  span.glyphicon.glyphicon-minus
                  span.visible-xs-inline= t('game:edit.removePlayer.text')
                button.btn.btn-info.btn-inline-block(name='upPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=true,
                                                     title=t('game:edit.upPlayer.title'))
                  span.glyphicon.glyphicon-arrow-up
                  span.visible-xs-inline= t('game:edit.upPlayer.text')
                button.btn.btn-info.btn-inline-block(name='downPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=false,
                                                     title=t('game:edit.downPlayer.title'))
                  span.glyphicon.glyphicon-arrow-down
                  span.visible-xs-inline= t('game:edit.downPlayer.text')
      else if index==players.length-1
        .form-group
          .col-sm-offset-2.col-sm-8
            .input-group
              input.form-control(name='players['+index+'][name]',         type='text',   value=player.name, id='player-#{index}', title=t('game:edit.players.title'), autofocus=isPlayerAction===1)
              input.form-control(name='players['+index+'][previousName]', type='hidden', value=player.previousName)
              input.form-control(name='players['+index+'][index]',        type='hidden', value=player.index)
              span.input-group-btn
                button.btn.btn-primary.btn-inline-block(name='addPlayer',
                                                        type='submit',
                                                        value=index,
                                                        title=t('game:edit.addPlayer.title'))
                  span.glyphicon.glyphicon-plus
                  span.visible-xs-inline= t('game:edit.addPlayer.text')
                button.btn.btn-info.btn-inline-block(name='upPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=false,
                                                     title=t('game:edit.upPlayer.title'))
                  span.glyphicon.glyphicon-arrow-up
                  span.visible-xs-inline= t('game:edit.upPlayer.text')
                button.btn.btn-info.btn-inline-block(name='downPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=true,
                                                     title=t('game:edit.downPlayer.title'))
                  span.glyphicon.glyphicon-arrow-down
                  span.visible-xs-inline= t('game:edit.downPlayer.text')
      else
        .form-group
          .col-sm-offset-2.col-sm-8
            .input-group
              input.form-control(name='players['+index+'][name]',         type='text',   value=player.name, id='player-#{index}', title=t('game:edit.players.title'))
              input.form-control(name='players['+index+'][previousName]', type='hidden', value=player.previousName)
              input.form-control(name='players['+index+'][index]',        type='hidden', value=player.index)
              span.input-group-btn
                button.btn.btn-danger.btn-inline-block(name='removePlayer',
                                                       type='submit',
                                                       value=index,
                                                       title=t('game:edit.removePlayer.title'))
                  span.glyphicon.glyphicon-minus
                  span.visible-xs-inline= t('game:edit.removePlayer.text')
                button.btn.btn-info.btn-inline-block(name='upPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=false,
                                                     title=t('game:edit.upPlayer.title'))
                  span.glyphicon.glyphicon-arrow-up
                  span.visible-xs-inline= t('game:edit.upPlayer.text')
                button.btn.btn-info.btn-inline-block(name='downPlayer',
                                                     type='submit',
                                                     value=index,
                                                     disabled=false,
                                                     title=t('game:edit.downPlayer.title'))
                  span.glyphicon.glyphicon-arrow-down
                  span.visible-xs-inline= t('game:edit.downPlayer.text')

    .form-group
      .col-sm-offset-2.col-sm-8
        if isAdd
          button.btn.btn-primary(name='submitted',
                                 type='submit',
                                 value='submitted',
                                 title=t('game:add.start.title'),
                                 data-loading-text=t('game:add.start.loading'))
            span.glyphicon.glyphicon-chevron-right
            span= t('game:add.start.text')
        else
          button.btn.btn-primary(name='submitted',
                                 type='submit',
                                 value='submitted',
                                 title=t('game:edit.update.title'))
            span.glyphicon.glyphicon-floppy-disk
            span= t('game:edit.update.text')
