extends ../_layout

block scripts
  script(src='/js/game-index.min.js?v=#{deployVersion}')

block content
  .page-header
    h1= t('game:index.header.title')

  div
    a.btn.btn-primary(href='/game/add', title=t('game:index.add.title'))
      span.glyphicon.glyphicon-plus
      span= t('game:index.add.text')
    if admin
      | &nbsp;
      form.inline-form#g2000n-delete-all(method='POST',
                                         action='/game/delete',
                                         enctype='application/x-www-form-urlencoded',
                                         data-confirm=t('game:index.delete_all.confirm'))
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger(type='submit',
                              disabled=!Object.keys(games).length,
                              class=Object.keys(games).length?undefined:'disabled',
                              title=t('game:index.delete_all.title'))
          span.glyphicon.glyphicon-trash
          span= t('game:index.delete_all.text')

  br

  table.table.table-v-center#g2000n-table
    thead
      tr
        if admin
          th
            a(href=orderDir._id.href)
              span= t('game:index.table.id')
              if orderDir._id.icon
                span.glyphicon(class=orderDir._id.icon)
        th
          a(href=orderDir.name.href)
            span= t('game:index.table.name')
            if orderDir.name.icon
              span.glyphicon(class=orderDir.name.icon)
        th
          a(href=orderDir.type.href)
            span= t('game:index.table.type')
            if orderDir.type.icon
              span.glyphicon(class=orderDir.type.icon)
        th
          a(href=orderDir.createdAt.href)
            span= t('game:index.table.created')
            if orderDir.createdAt.icon
              span.glyphicon(class=orderDir.createdAt.icon)
        th
          a(href=orderDir.updatedAt.href)
            span= t('game:index.table.updated')
            if orderDir.updatedAt.icon
              span.glyphicon(class=orderDir.updatedAt.icon)
        th= t('game:index.table.players')
        th= t('game:index.table.actions')

    //- Check if object is really empty;
    if games.length
      tbody
        each game in games
          tr
            if admin
              td #{game._id}
            td #{game.name}
            td #{gameTypes[game.type]}
            td
              nobr=helpers.getLocaleDateString(game.createdAt)
              |&nbsp;
              nobr=helpers.getLocaleTimeString(game.createdAt)
            td
              nobr=helpers.getLocaleDateString(game.updatedAt)
              |&nbsp;
              nobr=helpers.getLocaleTimeString(game.updatedAt)
            td #{game.players.join(', ')}
            td.text-nowrap
              a.btn.btn-success(href='/game/view/'+encodeURIComponent(encodeURIComponent(game.name)), title=t('game:index.table.open.title'))
                span.glyphicon.glyphicon-folder-open
                span.hidden-xs= t('game:index.table.open.text')
              | &nbsp;
              form.inline-form(method='POST',
                               action='/game/clone/'+encodeURIComponent(encodeURIComponent(game.name)),
                               enctype='application/x-www-form-urlencoded')
                button.btn.btn-info(type='submit', title=t('game:index.table.clone.title'))
                  span.glyphicon.glyphicon-repeat
              if admin
                | &nbsp;
                form.inline-form(method='POST',
                                 action='/game/edit/'+encodeURIComponent(encodeURIComponent(game.name)),
                                 enctype='application/x-www-form-urlencoded')
                  button.btn.btn-warning(type='submit', title=t('game:index.table.edit.title'))
                    span.glyphicon.glyphicon-pencil
                | &nbsp;
                form.inline-form.g2000n-delete(method='POST',
                                               action='/game/delete/'+encodeURIComponent(encodeURIComponent(game.name)),
                                               enctype='application/x-www-form-urlencoded',
                                               data-confirm=t('game:index.table.delete.confirm'))
                  input(type='hidden', name='_method', value='DELETE')
                  button.btn.btn-danger(type='submit', title=t('game:index.table.delete.title'))
                    span.glyphicon.glyphicon-trash
    else
      tbody
        tr
          td(colspan=admin ? 7 : 6)
            p.text-danger= t('game:index.table.empty')

  if admin
    script(id='empty-template', type="text/template")
      tr
        td(colspan=admin ? 7 : 6)
          p.text-danger= t('game:index.table.empty')
