extends ../_layout

block content
  .page-header
    h3= t('game:index.header.title')

  div
    a.btn.btn-primary(href='/game/add', title=t('game:index.add.title'))
      span.glyphicon.glyphicon-plus
      span= t('game:index.add.text')
    if admin
      | &nbsp;
      form#g2000n-delete-all(method='POST', action='/game/delete', enctype='application/x-www-form-urlencoded', style='display:inline-block')
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger(type='submit',
                              title=t('game:index.delete_all.title'),
                              onclick='return confirm("'+t('game:index.delete_all.confirm')+'");',
                              disabled=!Object.keys(games).length,
                              class=Object.keys(games).length?undefined:'disabled')
          span.glyphicon.glyphicon-trash
          span= t('game:index.delete_all.text')

  br

  table.table.table-v-center#g2000n-table
    thead
      tr
        if admin
          th
            a(href=orderDir._id.href)= t('game:index.table.id')
              span.glyphicon(class=orderDir._id.icon)
        th
          a(href=orderDir.name.href)= t('game:index.table.name')
            span.glyphicon(class=orderDir.name.icon)
        th
          a(href=orderDir.type.href)= t('game:index.table.type')
            span.glyphicon(class=orderDir.type.icon)
        th
          a(href=orderDir.createdAt.href)= t('game:index.table.created')
            span.glyphicon(class=orderDir.createdAt.icon)
        th
          a(href=orderDir.updatedAt.href)= t('game:index.table.updated')
            span.glyphicon(class=orderDir.updatedAt.icon)
        th= t('game:index.table.players')
        th= t('game:index.table.actions')

    //- Check if object is really empty;
    if games.length
      tbody
        each game in games
          tr
            if admin
              td #{game._id}
            td #{game.name}
            td #{gameTypes[game.type]}
            td #{helpers.getLocaleDateString(game.createdAt)} #{helpers.getLocaleTimeString(game.createdAt)}
            td #{helpers.getLocaleDateString(game.updatedAt)} #{helpers.getLocaleTimeString(game.updatedAt)}
            td #{game.players.join(', ')}
            td.text-nowrap
              a.btn.btn-success(href='/game/view/'+encodeURIComponent(game.name), title=t('game:index.table.open.title'))
                span.glyphicon.glyphicon-folder-open
                span.hidden-xs= t('game:index.table.open.text')
              if admin
                | &nbsp;
                form(method='POST', action='/game/edit/'+encodeURIComponent(game.name), enctype='application/x-www-form-urlencoded', style='display:inline-block')
                  button.btn.btn-warning(type='submit',
                                         title=t('game:index.table.edit.title'))
                    span.glyphicon.glyphicon-pencil
                | &nbsp;
                form.g2000n-delete(method='POST', action='/game/delete/'+encodeURIComponent(game.name), enctype='application/x-www-form-urlencoded', style='display:inline-block')
                  input(type='hidden', name='_method', value='DELETE')
                  button.btn.btn-danger(type='submit',
                                        title=t('game:index.table.delete.title'),
                                        onclick='return confirm("'+t('game:index.table.delete.confirm')+'");')
                    span.glyphicon.glyphicon-trash
    else
      tbody
        tr
          td(colspan=admin ? 7 : 6)
            p.text-danger= t('game:index.table.empty')

  if admin
    script(id='empty-template', type="text/template")
      tr
        td(colspan=admin ? 7 : 6)
          p.text-danger= t('game:index.table.empty')

block scripts
  script(src='/js/admin.js')
