extends ../_layout

block content
  .page-header
    h3 Games

  div
    a.btn.btn-primary(href='/game/add', title='Add a new game.')
      span.glyphicon.glyphicon-plus
      | Add new game
    if admin
      | &nbsp;
      form(method='POST', action='/game/delete', enctype='application/x-www-form-urlencoded', style='display:inline-block')
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger(type='submit',
                              title='Delete all games!',
                              onclick='return confirm("Are you sure you want to delete all games?");',
                              class=Object.keys(games).length?undefined:'disabled')
          span.glyphicon.glyphicon-trash
          | Delete all

  br

  table.table
    thead
      tr
        th Name
        if admin
          th Id
        th Created
        th Updated
        th Players
        th Actions
    //- Check if object is really empty;
    if Object.keys(games).length
      tbody
        each game, index in games
          tr
            td #{game.name}
            if admin
              td #{game._id}
            td #{game.createdAt.toLocaleDateString('nl-NL')} #{game.createdAt.toLocaleTimeString('nl-NL')}
            td #{game.updatedAt.toLocaleDateString('nl-NL')} #{game.updatedAt.toLocaleTimeString('nl-NL')}
            td #{game.players.join(', ')}
            td.text-nowrap
              a.btn.btn-success(href='/game/open/'+game.name, title='Open this game.')
                span.glyphicon.glyphicon-folder-open
                span.hidden-xs Open
              if admin
                | &nbsp;
                form(method='POST', action='/game/delete/'+game.name, enctype='application/x-www-form-urlencoded', style='display:inline-block')
                  input(type='hidden', name='_method', value='DELETE')
                  button.btn.btn-danger(type='submit',
                                        title='Delete this game!',
                                        onclick='return confirm("Are you sure you want to delete this game?");')
                    span.glyphicon.glyphicon-trash
    else
      tbody
        tr
          td(colspan=admin ? 6 : 5)
            p.text-danger There are no games available!
