extends ../_layout

block content
  .page-header
    h3= t('game:index.header.title')

  div
    a.btn.btn-primary(href='/game/add', title=t('game:index.add.title'))
      span.glyphicon.glyphicon-plus
      span= t('game:index.add.text')
    if admin
      | &nbsp;
      form#g2000n-delete-all(method='POST', action='/game/delete', enctype='application/x-www-form-urlencoded', style='display:inline-block')
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-danger(type='submit',
                              title=t('game:index.delete_all.title'),
                              onclick='return confirm("'+t('game:index.delete_all.confirm')+'");',
                              disabled=!Object.keys(games).length,
                              class=Object.keys(games).length?undefined:'disabled')
          span.glyphicon.glyphicon-trash
          span= t('game:index.delete_all.text')

  br

  table.table.table-v-center#g2000n-table
    thead
      tr
        th= t('game:index.table.name')
        if admin
          th= t('game:index.table.id')
        th= t('game:index.table.created')
        th= t('game:index.table.updated')
        th= t('game:index.table.players')
        th= t('game:index.table.actions')
    //- Check if object is really empty;
    if Object.keys(games).length
      tbody
        each game, index in games
          tr
            td #{game.name}
            if admin
              td #{game._id}
            td #{helpers.getLocaleDateString(game.createdAt,i18n.lng())} #{helpers.getLocaleTimeString(game.createdAt,i18n.lng())}
            td #{helpers.getLocaleDateString(game.updatedAt,i18n.lng())} #{helpers.getLocaleTimeString(game.updatedAt,i18n.lng())}
            td #{game.players.join(', ')}
            td.text-nowrap
              a.btn.btn-success(href='/game/view/'+encodeURIComponent(game.name), title=t('game:index.table.open.title'))
                span.glyphicon.glyphicon-folder-open
                span.hidden-xs= t('game:index.table.open.text')
              if admin
                | &nbsp;
                form.g2000n-delete(method='POST', action='/game/delete/'+encodeURIComponent(game.name), enctype='application/x-www-form-urlencoded', style='display:inline-block')
                  input(type='hidden', name='_method', value='DELETE')
                  button.btn.btn-danger(type='submit',
                                        title=t('game:index.table.delete.title'),
                                        onclick='return confirm("'+t('game:index.table.delete.confirm')+'");')
                    span.glyphicon.glyphicon-trash
    else
      tbody
        tr
          td(colspan=admin ? 6 : 5)
            p.text-danger= t('game:index.table.empty')

  if admin
    script(id='empty-template', type="text/template")
      tr
        td(colspan=admin ? 6 : 5)
          p.text-danger= t('game:index.table.empty')

block scripts
  script(src='/js/admin.js')
