extends ../layout

block content
  .page-header
    .pull-right
      button.btn.btn-primary(type='submit')
        span.glyphicon.glyphicon-floppy-disk
        | Save Game
    h3 Start Game "#{name}"


  form(role='form', method='POST', action='/game/save')

    input(name='name', type='hidden', value=name)
    input(name='players', type='hidden', value=players)

    if players
      table.table.table-striped.table-hover.table-condensed
        thead
          tr
            th
            th Deler
            th Wilde
            each player in players
              th= player
        tbody
          - for (var i = 0; i < 20; i++) {
            tr
              th
                span= i+1
              td
                p.form-control-static.input-sm= players[i % players.length]
              td
                - var wildOptions = ["-", "A", "K", "Q", "J", 10, 9, 8, 7, 6, 5, 4];
                select.form-control.input-sm(name='g2000n-wild')
                  each wildOption in wildOptions
                    option(selected=wild[i]===wildOption) #{wildOption}
              each player, index in players
                td
                  input.form-control.input-sm.g2000n-value(name='g2000n-player-'+index,
                                                          class='g2000n-player-'+index,
                                                          type='number',
                                                          data-player-index=index,
                                                          value=score[player]&&score[player][i])
            if i!=0
              tr
                th
                td
                td
                each player, index in players
                  td
                    input.form-control.input-sm.g2000n-sum(class='g2000n-player-'+index,
                                                          type='text',
                                                          disabled=true,
                                                          data-player-index=index,
                                                          style="display: inline-block; width: 95%;")
                    | +
          - }

    p.text-right
      button.btn.btn-primary(type='submit')
        span.glyphicon.glyphicon-floppy-disk
        | Save Game


block scripts
  script(src='/js/tweeduizenden.js')