extends ../_layout

block content
  form(role='form', method='POST', action='/game/update')

    .page-header
      .pull-right
        button.btn.btn-primary.g2000n-save(type='submit', title=t('game:view.save.title'))
          span.glyphicon.glyphicon-floppy-disk
          span= t('game:view.save.text')
      h3= t('game:view.header.title')
        | &nbsp;
        small #{name}

    input(name='name', type='hidden', value=name)

    if players
      table.table.table-hover.table-condensed
        thead
          tr
            th
              div.table-row-min-height
                span= t('game:view.table.number')
            th= t('game:view.table.dealer')
            if type==='tweeduizenden'
              th= t('game:view.table.wild')
            each player in players
              th= player
        tbody
          - for (var i = 0; i < (type==='tweeduizenden'?20:9); i++) {
            tr.active
              th= i+1
              td
                p.form-control-static.input-sm.text-nowrap= players[i % players.length]
              if type==='tweeduizenden'
                td
                  - var wildOptions = ["-", "A", "K", "Q", "J", "10", "9", "8", "7", "6", "5", "4"];
                  select.form-control.text-center(name='wild')
                    each wildOption in wildOptions
                      option(selected=wild[i]===wildOption) #{wildOption}
              each player, index in players
                td
                  input.form-control.text-center(
                    name='player-'+index,
                    class='g2000n-value g2000n-player-'+index,
                    type='number',
                    step=type==='tweeduizenden'?5:1,
                    autocomplete='off',
                    data-player-index=index,
                    value=score[player]&&score[player][i])
            if i!=0
              tr
                th(colspan=type==='tweeduizenden'?3:2)
                each player, index in players
                  td
                    input.form-control.text-center(
                      class='g2000n-sum g2000n-player-'+index,
                      type='number',
                      disabled=true,
                      data-player-index=index)
          - }

    p.text-right
      button.btn.btn-primary.g2000n-save(type='submit', title=t('game:view.save.title'))
        span.glyphicon.glyphicon-floppy-disk
        span= t('game:view.save.text')
      button.btn.btn-success(type='submit', name='clone', title=t('game:view.clone.title'))
        span.glyphicon.glyphicon-repeat
        span= t('game:view.clone.text')

block scripts
  script(src='/js/lib/jquery.floatThead.min.js')
  script(src='/js/tweeduizenden.js')
