extends ../_layout

block scripts
  script(nonce=nonce).
    var gameType = !{JSON.stringify(type)};
  script(src='/vendor/jquery.floatThead/jquery.floatThead.min.js?v=#{deployVersion}')
  script(src='/vendor/moment/moment-with-locales.min.js?v=#{deployVersion}')
  script(src='/js/game-view.min.js?v=#{deployVersion}')

block content
  form#g2000n-update(role='form', method='POST', action='/game/update', novalidate)

    .page-header
      h1= t('game:view.header.title')
        | &nbsp;
        small= name
      .pull-left
        dl.dl-horizontal
          dt= t('game:view.created.text')
          dd(title=created.datetime,
             data-timestamp=created.timestamp,
             data-toggle='tooltip',
             data-placement='right')= created.ago
          dt= t('game:view.updated.text')
          dd.g2000n-updated(title=updated.datetime,
                            data-timestamp=updated.timestamp,
                            data-toggle='tooltip',
                            data-placement='right')= updated.ago
      .pull-right
        button.btn.btn-primary.g2000n-save(type='submit',
                                           title=t('game:view.save.title'),
                                           data-loading-text=t('game:view.save.loading'))
          span.glyphicon.glyphicon-floppy-disk
          span= t('game:view.save.text')
      br.clearfix2

    input(name='name', type='hidden', value=name)

    if players
      table.table.table-hover.table-condensed
        thead
          tr
            th
              div.table-row-min-height
                span= t('game:view.table.number')
            th= t('game:view.table.dealer')
            if type.wild
              th= t('game:view.table.wild')
            each player, index in players
              th(id='g2000n-player-name-#{index}')= player
        tbody
          - for (var i = 0; i < (type.rows === Infinity ? 20 : type.rows); i++) {
            tr.active
              th= i+1
              td
                p.form-control-static.input-sm.text-nowrap= players[i % players.length]
              if type.wild
                td
                  - var wildOptions = ['-', 'A', 'K', 'Q', 'J', '10', '9', '8', '7', '6', '5', '4'];
                  select.form-control.text-center(name='wild')
                    each wildOption in wildOptions
                      option(selected=wild[i]===wildOption) #{wildOption}
              each player, index in players
                td
                  input.form-control.text-center(
                    name='player-#{index}',
                    class='g2000n-value g2000n-player-#{index}',
                    type='number',
                    step=type.step,
                    autocomplete='off',
                    data-player-index=index,
                    value=score[player]&&score[player][i])
            if i!=0
              tr
                th(colspan=type.wild?3:2)
                each player, index in players
                  td
                    input.form-control.text-center(
                      class='g2000n-sum g2000n-player-#{index}',
                      type='number',
                      disabled=true,
                      data-player-index=index)
          - }

    .text-right
      button.btn.btn-success.g2000n-standings.hidden(type='button',
                                                     name='standings',
                                                     data-toggle='modal',
                                                     data-target='#standingsModal',
                                                     title=t('game:view.standings.title'))
        span.glyphicon.glyphicon-stats
        span= t('game:view.standings.text')
      | &nbsp;
      button.btn.btn-info.g2000n-clone.g2000n-no-xhr(type='submit',
                                                     name='clone',
                                                     title=t('game:view.clone.title'))
        span.glyphicon.glyphicon-repeat
        span= t('game:view.clone.text')
      | &nbsp;
      .btn-group.dropup
        button.btn.btn-danger.g2000n-save.g2000n-no-xhr(type='submit',
                                                        name='saveAndClose',
                                                        title=t('game:view.saveAndClose.title'),
                                                        data-loading-text=t('game:view.saveAndClose.loading'))
          span.glyphicon.glyphicon-floppy-disk
          span= t('game:view.saveAndClose.text')
        button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.caret
          span.sr-only Toggle Dropdown
        ul.dropdown-menu.dropdown-menu-right
          li
            button.btn.btn-link.g2000n-save(type='submit',
                                            name='save',
                                            title=t('game:view.save.title'),
                                            data-loading-text=t('game:view.save.loading'))
              span.glyphicon.glyphicon-floppy-disk
              span= t('game:view.save.text')
          li
            button.btn.btn-link.g2000n-no-xhr(type='submit',
                                              name='close',
                                              title=t('game:view.close.title'),
                                              data-loading-text=t('game:view.close.loading'))
              span.glyphicon.glyphicon-remove-sign
              span= t('game:view.close.text')


  #standingsModal.modal.fade(tabindex='-1',
                             role='dialog',
                             aria-labelledby='standingsModalTitle',
                             aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button',
                       data-dismiss='modal',
                       title=t('game:view.standings.modal.close.title'))
            span(aria-hidden='true') &times;
            span.sr-only= t('game:view.standings.modal.close.text')
          h4#standingsModalTitle.modal-title= t('game:view.standings.modal.title')
        .modal-body
          ul#standingsList.list-group
        .modal-footer
          button.btn.btn-default(type='button',
                                 data-dismiss='modal',
                                 title=t('game:view.standings.modal.close.title'))= t('game:view.standings.modal.close.text')
