mixin fadeout(selector)
  script(nonce=nonce).
      $(function(){
          window.setTimeout(function(){
              $(".#{selector}").alert("close");
          }, 3000);
      });

for flashed, type in flash
  - var alertClass = 'alert-' + type;
  for alert in flashed
    .alert.alert-dismissible.fade.in(class=alertClass)
      button.close(type='button', data-dismiss='alert', title=t('_flash:close.title'))
        span(aria-hidden=true) &times;
        span.sr-only= t('_flash:close.text')
      div= alert.message
    if alert.fadeout
      +fadeout(alertClass)
