.navbar.navbar-default(class=navbarNotFixed?undefined:'navbar-fixed-top')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only= t('_navbar:header.toggle')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        span.glyphicon.glyphicon-tower
        span= t('_navbar:header.title')
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=helpers.isActiveMenu('')?'active':undefined)
          a(href='/')= t('_navbar:nav.home')
        li(class=helpers.isActiveMenu('game','!rules')?'active':undefined)
          a(href='/game')= t('_navbar:nav.game')
        li(class=helpers.isActiveMenu('rules')?'active':undefined)
          a(href='/game/rules')= t('_navbar:nav.rules')
      ul.nav.navbar-nav.navbar-right
        li(class=language==='en-US'?'active':undefined, lang='en-US')
          a(href='/?lng=en-US', title=t('_navbar:nav.en-US.title'))
            img.glyphicon(src='/en-US/flag.gif', alt=t('_navbar:nav.en-US.alt'))
            span.visible-xs-inline= t('_navbar:nav.en-US.text')
        li(class=language==='en-CA'?'active':undefined, lang='en-CA')
          a(href='/?lng=en-CA', title=t('_navbar:nav.en-CA.title'))
            img.glyphicon(src='/en-CA/flag.gif', alt=t('_navbar:nav.en-CA.alt'))
            span.visible-xs-inline= t('_navbar:nav.en-CA.text')
        li(class=language==='nl-NL'?'active':undefined, lang='nl-NL')
          a(href='/?lng=nl-NL', title=t('_navbar:nav.nl-NL.title'))
            img.glyphicon(src='/nl-NL/flag.gif', alt=t('_navbar:nav.nl-NL.alt'))
            span.visible-xs-inline= t('_navbar:nav.nl-NL.text')
