.navbar.navbar-default(class=navbarNotFixed?undefined:'navbar-fixed-top')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only= t('_navbar:header.toggle')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        span.glyphicon.glyphicon-tower
        span= t('_navbar:header.title')
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=helpers.isActiveMenu('')?'active':undefined)
          a(href='/')= t('_navbar:nav.home')
        li(class=helpers.isActiveMenu('game','!rules')?'active':undefined)
          a(href='/game')= t('_navbar:nav.game')
        li(class=helpers.isActiveMenu('rules')?'active':undefined)
          a(href='/game/rules')= t('_navbar:nav.rules')
      ul.nav.navbar-nav.navbar-right
        li(class=i18n.lng()==='en-US'?'active':undefined)
          a(href='/?lang=en-US', title=t('_navbar:nav.english'))
            img.glyphicon(src='/en-US/en-US.gif')
            span.visible-xs-inline= t('_navbar:nav.english')
        li(class=i18n.lng()==='nl-NL'?'active':undefined)
          a(href='/?lang=nl-NL', title=t('_navbar:nav.dutch'))
            img.glyphicon(src='/nl-NL/nl-NL.gif')
            span.visible-xs-inline= t('_navbar:nav.dutch')
